# TCC PUC-Minas Gastão Jucá Filho <br>
Turma Puc-Minas Virtual - nov2019 <br>

#  Atividades previstas para este Notebook:
> 1. Carregar a tabela olist_ibge_v13  

> 2. Ajustá-lo para ter modelos aplicados a si.  
>> Criar variável target.  
>> Aplicar Label Encoder nas variáveis categóricas.  

> 3. Aplicar 04 (quatro) modelos:  
>> Gradient Boosting simplificado;  
>> Decision Tree;  
>> Logistic regression; e  
>> Random Forest.

##  1 - Importação de bibliotecas necessárias

In [2]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
# pd.options.display.max_columns = 100

## 2 - Importação da tabela <font color=red>'olist_ibge_v13'</font>

In [3]:
olist_ibge_v13 = pd.read_excel('olist_ibge_v13.xlsx', sheet_name = "Sheet1", header = 0, index_col=None) # sem dtype = 'object'

In [4]:
olist_ibge_v13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92935 entries, 0 to 92934
Data columns (total 19 columns):
Unnamed: 0               92935 non-null int64
order_id                 92935 non-null object
product_id               92935 non-null object
seller_id                92935 non-null object
product_category_name    92935 non-null object
sigla_state              92935 non-null object
seller_sigla_state       92935 non-null object
review_score             92935 non-null int64
qtde_boleto              92935 non-null int64
qtde_credit_card         92935 non-null int64
qtde_debit_card          92935 non-null int64
qtde_voucher             92935 non-null int64
soma_payment             92935 non-null float64
qtde_installments        92935 non-null int64
AR_MUN_2018              92935 non-null float64
POPULAÇÃO ESTIMADA       92935 non-null int64
PIB                      92935 non-null float64
gini                     92935 non-null float64
dias                     92935 non-null float64
dtypes: float64(5), int64(8), object(6)
memory usage: 13.5+ MB

### 2.1 - Deletar a coluna  <font color=red>'Unnamed: 0'</font>  
> Ela é um ruído que sempre surge ao importarmos um arquivo para um DataFrame

In [5]:
olist_ibge_v14 = olist_ibge_v13.drop(['Unnamed: 0'], axis=1)

In [6]:
olist_ibge_v14.shape, olist_ibge_v13.shape

((92935, 18), (92935, 19))

In [7]:
olist_ibge_v14.head()

,order_id,product_id,seller_id,product_category_name,sigla_state,seller_sigla_state,review_score,qtde_boleto,qtde_credit_card,qtde_debit_card,qtde_voucher,soma_payment,qtde_installments,AR_MUN_2018,POPULAÇÃO ESTIMADA,PIB,gini,dias
0,50ba38c4dc467baab1ea2c8c7747934d,418d480693f2f01e9cf4568db0346d28,12b9676b00f60f3b700e83af21824c0e,cool_stuff,mg,rs,5,0,1,0,0,219.63,10,881.06,7037,"180,088.78",0.65,21.11
1,d99e6849f7676dade195f20c26f0eb4f,1081ae52311daac87fb54ba8ce4670ac,4371b634e0efc0e22b09b52907d9d469,esporte_lazer,mg,sp,5,0,1,0,0,135.59,1,881.06,7037,"180,088.78",0.65,5.84
2,0a9a43ac5fe59c6c4bee2a8f9b9fcce8,c1aabbb6f4caec9f5bf7cd80519d6cc0,579891617139df7d8671d373f0669622,livros_interesse_geral,mg,rj,5,1,0,0,0,58.28,1,881.06,7037,"180,088.78",0.65,8.63
3,3f1294f87d79b57f5d55ba7b80c3d94f,0a9b9a871ffaec6c0198334558a6c6a1,f9244d45189d3a3605499abddeade7d5,eletroportateis,go,sp,4,0,1,0,0,"1,025.52",8,"1,045.13",18427,"287,984.49",0.73,29.10
4,6c12feac9a308e1382d9b19cca7f20b2,d47821b10559fffaefcf3e57d2b5ff76,0df3984f9dfb3d49ac6366acbd3bbb85,beleza_saude,mg,mg,4,0,1,0,0,220.97,4,"1,817.07",23574,"430,235.36",0.66,4.80

### 2.2 - Criar coluna target para  <font color=red>'olist_ibge_v14'</font>  
> A partir de 'review_score'.  
>> Chamada 'humor'

In [8]:
olist_ibge_v14.columns

Index(['order_id', 'product_id', 'seller_id', 'product_category_name',
       'sigla_state', 'seller_sigla_state', 'review_score', 'qtde_boleto',
       'qtde_credit_card', 'qtde_debit_card', 'qtde_voucher', 'soma_payment',
       'qtde_installments', 'AR_MUN_2018', 'POPULAÇÃO ESTIMADA', 'PIB', 'gini',
       'dias'],
      dtype='object')

In [9]:
# Nova coluna chamada 'humor' será 0 (zero), quando review_score for de 1 a 3, ou 1 (um), quando review_score for 4 ou 5.
a = {1:0, 2:0, 3:0 , 4:1, 5:1}
olist_ibge_v14['humor'] = olist_ibge_v14['review_score'].map(a)

In [10]:
olist_ibge_v14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92935 entries, 0 to 92934
Data columns (total 19 columns):
order_id                 92935 non-null object
product_id               92935 non-null object
seller_id                92935 non-null object
product_category_name    92935 non-null object
sigla_state              92935 non-null object
seller_sigla_state       92935 non-null object
review_score             92935 non-null int64
qtde_boleto              92935 non-null int64
qtde_credit_card         92935 non-null int64
qtde_debit_card          92935 non-null int64
qtde_voucher             92935 non-null int64
soma_payment             92935 non-null float64
qtde_installments        92935 non-null int64
AR_MUN_2018              92935 non-null float64
POPULAÇÃO ESTIMADA       92935 non-null int64
PIB                      92935 non-null float64
gini                     92935 non-null float64
dias                     92935 non-null float64
humor                    92935 non-null int64
dtypes: float64(5), int64(8), object(6)
memory usage: 13.5+ MB

In [11]:
olist_ibge_v14['humor'].unique()

array([1, 0], dtype=int64)

In [12]:
qtde_humores = olist_ibge_v14.groupby('humor')['order_id'].count()

In [13]:
df_qtde_humores = pd.DataFrame(qtde_humores)

In [14]:
df_qtde_humores

       order_id
humor
0         19868
1         73067

In [15]:
print(19868*100/92935)

21.378382740625167

In [16]:
print(73067*100/92935)

78.62161725937483

In [18]:
olist_ibge_v14.head()

,order_id,product_id,seller_id,product_category_name,sigla_state,seller_sigla_state,review_score,qtde_boleto,qtde_credit_card,qtde_debit_card,qtde_voucher,soma_payment,qtde_installments,AR_MUN_2018,POPULAÇÃO ESTIMADA,PIB,gini,dias,humor
0,50ba38c4dc467baab1ea2c8c7747934d,418d480693f2f01e9cf4568db0346d28,12b9676b00f60f3b700e83af21824c0e,cool_stuff,mg,rs,5,0,1,0,0,219.63,10,881.06,7037,"180,088.78",0.65,21.11,1
1,d99e6849f7676dade195f20c26f0eb4f,1081ae52311daac87fb54ba8ce4670ac,4371b634e0efc0e22b09b52907d9d469,esporte_lazer,mg,sp,5,0,1,0,0,135.59,1,881.06,7037,"180,088.78",0.65,5.84,1
2,0a9a43ac5fe59c6c4bee2a8f9b9fcce8,c1aabbb6f4caec9f5bf7cd80519d6cc0,579891617139df7d8671d373f0669622,livros_interesse_geral,mg,rj,5,1,0,0,0,58.28,1,881.06,7037,"180,088.78",0.65,8.63,1
3,3f1294f87d79b57f5d55ba7b80c3d94f,0a9b9a871ffaec6c0198334558a6c6a1,f9244d45189d3a3605499abddeade7d5,eletroportateis,go,sp,4,0,1,0,0,"1,025.52",8,"1,045.13",18427,"287,984.49",0.73,29.10,1
4,6c12feac9a308e1382d9b19cca7f20b2,d47821b10559fffaefcf3e57d2b5ff76,0df3984f9dfb3d49ac6366acbd3bbb85,beleza_saude,mg,mg,4,0,1,0,0,220.97,4,"1,817.07",23574,"430,235.36",0.66,4.80,1

In [17]:
crosstab = pd.crosstab(olist_ibge_v14['product_category_name'], olist_ibge_v14['humor'], margins = True)

In [18]:
crosstab

humor                                               0      1    All
product_category_name
agro_industria_e_comercio                          33    138    171
alimentos                                          64    353    417
alimentos_bebidas                                  31    179    210
artes                                              41    143    184
artes_e_artesanato                                  5     17     22
artigos_de_festas                                   9     28     37
artigos_de_natal                                   26     97    123
audio                                             107    232    339
automotivo                                        775   2933   3708
bebes                                             623   2092   2715
bebidas                                            47    232    279
beleza_saude                                     1620   6801   8421
brinquedos                                        719   2984   3703
cama_mesa_banho                                  2312   6543   8855
casa_conforto                                     114    243    357
casa_conforto_2                                     7     15     22
casa_construcao                                   105    352    457
cds_dvds_musicais                                   1     11     12
cine_foto                                          12     51     63
climatizacao                                       56    183    239
consoles_games                                    220    782   1002
construcao_ferramentas_construcao                 154    554    708
construcao_ferramentas_ferramentas                 11     85     96
construcao_ferramentas_iluminacao                  50    178    228
construcao_ferramentas_jardim                      31    145    176
construcao_ferramentas_seguranca                   36    116    152
cool_stuff                                        669   2780   3449
dvds_blu_ray                                        9     45     54
eletrodomesticos                                  138    567    705
eletrodomesticos_2                                 42    173    215
eletronicos                                       527   1929   2456
eletroportateis                                   103    494    597
esporte_lazer                                    1377   5939   7316
fashion_bolsas_e_acessorios                       332   1430   1762
fashion_calcados                                   43    186    229
fashion_esporte                                     2     22     24
fashion_roupa_feminina                             12     23     35
fashion_roupa_infanto_juvenil                       0      7      7
fashion_roupa_masculina                            30     72    102
fashion_underwear_e_moda_praia                     28     84    112
ferramentas_jardim                                678   2670   3348
flores                                              5     24     29
fraldas_higiene                                     6     18     24
industria_comercio_e_negocios                      41    179    220
informatica_acessorios                           1439   4918   6357
instrumentos_musicais                             111    488    599
la_cuisine                                          2     10     12
livros_importados                                   6     43     49
livros_interesse_geral                             47    442    489
livros_tecnicos                                    33    214    247
malas_acessorios                                  146    840    986
market_place                                       61    199    260
moveis_colchao_e_estofado                           9     24     33
moveis_cozinha_area_de_servico_jantar_e_jardim     53    180    233
moveis_decoracao                                 1461   4609   6070
moveis_escritorio                                 442    773   1215
moveis_quarto                                      14     73     87
moveis_sala                                        97    302    399
musica                                              7     30     37
papelaria                                         364   1834   2198
pc_gamer                                            1      5      6
pcs                                                31    141    172
perfumaria                                        558   2458   3016
pet_shop                                          298   1357   1655
portateis_casa_forno_e_cafe                         9     62     71
portateis_cozinha_e_preparadores_de_alimentos       5      7     12
relogios_presentes                               1214   4148   5362
seguros_e_servicos                                  1      1      2
sinalizacao_e_seguranca                            33    104    137
tablets_impressao_imagem                           16     58     74
telefonia                                         972   3025   3997
telefonia_fixa                                     55    152    207
utilidades_domesticas                            1132   4441   5573
All                                             19868  73067  92935

In [19]:
crosstab = pd.crosstab(olist_ibge_v14['sigla_state'], olist_ibge_v14['humor'], margins = True)

In [20]:
crosstab

humor            0      1    All
sigla_state
ac              19     58     77
al             112    278    390
am              25    118    143
ap              13     54     67
ba             866   2276   3142
ce             339    911   1250
df             437   1598   2035
es             460   1482   1942
go             440   1448   1888
ma             213    487    700
mg            2263   8802  11065
ms             143    544    687
mt             187    682    869
pa             256    640    896
pb             126    380    506
pe             361   1203   1564
pi             119    348    467
pr             896   3899   4795
rj            3206   8658  11864
rn             101    364    465
ro              52    174    226
rr              12     27     39
rs            1061   4166   5227
sc             766   2703   3469
se              93    237    330
sp            7248  31317  38565
to              54    213    267
All          19868  73067  92935

In [21]:
crosstab = pd.crosstab(olist_ibge_v14['seller_sigla_state'], olist_ibge_v14['humor'], margins = True)

In [22]:
crosstab

humor                   0      1    All
seller_sigla_state
am                      2      1      3
ba                    104    435    539
ce                     11     71     82
df                    174    605    779
es                     64    236    300
go                     61    370    431
ma                     90    290    380
mg                   1380   5942   7322
ms                      6     39     45
mt                     30    100    130
pa                      2      6      8
pb                      6     24     30
pe                     62    337    399
pi                      1      9     10
pr                   1431   5796   7227
rj                    752   3278   4030
rn                      9     42     51
ro                      3      9     12
rs                    308   1573   1881
sc                    710   2765   3475
se                      2      5      7
sp                  14660  51134  65794
All                 19868  73067  92935

In [23]:
olist_ibge_v14.describe()

,review_score,qtde_boleto,qtde_credit_card,qtde_debit_card,qtde_voucher,soma_payment,qtde_installments,AR_MUN_2018,POPULAÇÃO ESTIMADA,PIB,gini,dias,humor
count,"92,935.00","92,935.00","92,935.00","92,935.00","92,935.00","92,935.00","92,935.00","92,935.00","92,935.00","92,935.00","92,935.00","92,935.00","92,935.00"
mean,4.15,0.20,0.77,0.02,0.06,160.50,2.93,"1,279.54","2,826,551.15","151,772,033.94",0.79,12.56,0.79
std,1.29,0.40,0.43,0.12,0.41,219.69,2.72,"3,553.72","4,325,960.32","247,687,238.20",0.11,9.51,0.41
min,1.00,0.00,0.00,0.00,0.00,0.00,0.00,3.56,838.00,"14,959.96",0.35,0.53,0.00
25%,4.00,0.00,1.00,0.00,0.00,62.01,1.00,318.68,"102,268.00","2,921,663.24",0.74,6.79,1.00
50%,5.00,0.00,1.00,0.00,0.00,105.28,2.00,693.83,"477,798.00","18,469,475.89",0.80,10.22,1.00
75%,5.00,0.00,1.00,0.00,0.00,177.28,4.00,"1,521.11","2,938,092.00","88,277,462.53",0.87,15.71,1.00
max,5.00,1.00,2.00,2.00,25.00,"13,664.08",24.00,"159,533.33","12,038,175.00","687,035,889.61",0.99,209.63,1.00

In [24]:
# Deletar 'qtde_boleto', por correlação de -0.9 com 'qtde_credit_card', e 'POPULAÇAO ESTIMADA', por ter correlação de 1 com 'PIB'
# Deletar 'order_id' por ser somente chave primária e 'review_score', pois já temos oriunda dela a coluna 'humor', nosso alvo.
olist_ibge_v15 = olist_ibge_v14.drop(['qtde_boleto', 'POPULAÇÃO ESTIMADA', 'order_id', 'review_score'], axis=1)

In [25]:
olist_ibge_v15.shape, olist_ibge_v14.shape

((92935, 15), (92935, 19))

In [26]:
olist_ibge_v15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92935 entries, 0 to 92934
Data columns (total 15 columns):
product_id               92935 non-null object
seller_id                92935 non-null object
product_category_name    92935 non-null object
sigla_state              92935 non-null object
seller_sigla_state       92935 non-null object
qtde_credit_card         92935 non-null int64
qtde_debit_card          92935 non-null int64
qtde_voucher             92935 non-null int64
soma_payment             92935 non-null float64
qtde_installments        92935 non-null int64
AR_MUN_2018              92935 non-null float64
PIB                      92935 non-null float64
gini                     92935 non-null float64
dias                     92935 non-null float64
humor                    92935 non-null int64
dtypes: float64(5), int64(5), object(5)
memory usage: 10.6+ MB

In [27]:
olist_ibge_v15.head()

,product_id,seller_id,product_category_name,sigla_state,seller_sigla_state,qtde_credit_card,qtde_debit_card,qtde_voucher,soma_payment,qtde_installments,AR_MUN_2018,PIB,gini,dias,humor
0,418d480693f2f01e9cf4568db0346d28,12b9676b00f60f3b700e83af21824c0e,cool_stuff,mg,rs,1,0,0,219.63,10,881.06,"180,088.78",0.65,21.11,1
1,1081ae52311daac87fb54ba8ce4670ac,4371b634e0efc0e22b09b52907d9d469,esporte_lazer,mg,sp,1,0,0,135.59,1,881.06,"180,088.78",0.65,5.84,1
2,c1aabbb6f4caec9f5bf7cd80519d6cc0,579891617139df7d8671d373f0669622,livros_interesse_geral,mg,rj,0,0,0,58.28,1,881.06,"180,088.78",0.65,8.63,1
3,0a9b9a871ffaec6c0198334558a6c6a1,f9244d45189d3a3605499abddeade7d5,eletroportateis,go,sp,1,0,0,"1,025.52",8,"1,045.13","287,984.49",0.73,29.10,1
4,d47821b10559fffaefcf3e57d2b5ff76,0df3984f9dfb3d49ac6366acbd3bbb85,beleza_saude,mg,mg,1,0,0,220.97,4,"1,817.07","430,235.36",0.66,4.80,1

### Importação da biblioteca LabelEncoder

In [28]:
from sklearn.preprocessing import LabelEncoder

### Chamando o objeto

In [29]:
le = LabelEncoder()

### Verificando o objeto le

In [30]:
le

LabelEncoder()

### Aplicação do objeto aos dados categóricos de '<font color=red>olist_ibge_v14</font>'

In [31]:
le_product_id = le.fit_transform(olist_ibge_v14['product_id'])

In [32]:
le_seller_id = le.fit_transform(olist_ibge_v14['seller_id'])

In [33]:
le_product_category_name = le.fit_transform(olist_ibge_v14['product_category_name'])

In [34]:
le_sigla_state = le.fit_transform(olist_ibge_v14['sigla_state'])

In [35]:
le_seller_sigla_state = le.fit_transform(olist_ibge_v14['seller_sigla_state'])

### Exibição do array le_sigla_state
> le_sigla_state é um array.<br>
>Portanto, será necessário transformá-lo em dataframe.  
>> Aliás, vamos transformar em array os 05 (cinco) conjuntos gerados acima cujos nomes são 'le_qualquer_coisa'

In [36]:
le_sigla_state

array([10, 10, 10, ...,  9,  9, 23])

In [37]:
df_le_product_id = pd.DataFrame(le_product_id,columns = ['le_product_id'])

In [38]:
df_le_seller_id = pd.DataFrame(le_seller_id,columns = ['le_seller_id'])

In [39]:
df_le_product_category_name = pd.DataFrame(le_product_category_name,columns = ['le_product_category_name'])

In [40]:
df_le_sigla_state = pd.DataFrame(le_sigla_state,columns = ['le_sigla_state'])

In [41]:
df_le_seller_sigla_state = pd.DataFrame(le_seller_sigla_state,columns = ['le_seller_sigla_state'])

###  Exibição das linhas iniciais dos DataFrame do LabelEncoder.

In [42]:
df_le_product_id.head()

   le_product_id
0           7841
1           1976
2          22780
3           1247
4          25080

In [43]:
df_le_seller_id.head()

   le_seller_id
0           207
1           769
2          1011
3          2810
4           160

In [44]:
df_le_product_category_name.head()

   le_product_category_name
0                        26
1                        32
2                        48
3                        31
4                        11

In [45]:
df_le_sigla_state.head()

   le_sigla_state
0              10
1              10
2              10
3               8
4              10

In [46]:
df_le_seller_sigla_state.head()

   le_seller_sigla_state
0                     18
1                     21
2                     15
3                     21
4                      7

### Junção dos dataframes 'le_qualquer_coisa' com 'olist_ibge_vxx'

In [47]:
olist_ibge_v16 = pd.merge(olist_ibge_v15, # tabela da esquerda a ser juntada
                         df_le_product_id,  # tabela da direita a ser juntada
                         left_index=True, #If True, use the index (row labels) from the left DataFrame or Series as its join key(s)
                         right_index=True) #Same usage as left_index for the right DataFrame or Series

In [48]:
olist_ibge_v17 = pd.merge(olist_ibge_v16, df_le_seller_id, left_index=True, right_index=True)

In [49]:
olist_ibge_v18 = pd.merge(olist_ibge_v17, df_le_product_category_name, left_index=True, right_index=True)

In [50]:
olist_ibge_v19 = pd.merge(olist_ibge_v18, df_le_sigla_state, left_index=True, right_index=True)

In [51]:
olist_ibge_v20 = pd.merge(olist_ibge_v19, df_le_seller_sigla_state, left_index=True, right_index=True)

### Deleção dos campos que foram codificados

In [52]:
olist_ibge_v21 = olist_ibge_v20.drop(columns=['product_id', 'seller_id', 'product_category_name', 'sigla_state', 'seller_sigla_state'])

In [53]:
olist_ibge_v21.shape, olist_ibge_v20.shape, olist_ibge_v15.shape

((92935, 15), (92935, 20), (92935, 15))

In [54]:
olist_ibge_v21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92935 entries, 0 to 92934
Data columns (total 15 columns):
qtde_credit_card            92935 non-null int64
qtde_debit_card             92935 non-null int64
qtde_voucher                92935 non-null int64
soma_payment                92935 non-null float64
qtde_installments           92935 non-null int64
AR_MUN_2018                 92935 non-null float64
PIB                         92935 non-null float64
gini                        92935 non-null float64
dias                        92935 non-null float64
humor                       92935 non-null int64
le_product_id               92935 non-null int32
le_seller_id                92935 non-null int32
le_product_category_name    92935 non-null int32
le_sigla_state              92935 non-null int32
le_seller_sigla_state       92935 non-null int32
dtypes: float64(5), int32(5), int64(5)
memory usage: 8.9 MB

In [55]:
olist_ibge_v21.head()

,qtde_credit_card,qtde_debit_card,qtde_voucher,soma_payment,qtde_installments,AR_MUN_2018,PIB,gini,dias,humor,le_product_id,le_seller_id,le_product_category_name,le_sigla_state,le_seller_sigla_state
0,1,0,0,219.63,10,881.06,"180,088.78",0.65,21.11,1,7841,207,26,10,18
1,1,0,0,135.59,1,881.06,"180,088.78",0.65,5.84,1,1976,769,32,10,21
2,0,0,0,58.28,1,881.06,"180,088.78",0.65,8.63,1,22780,1011,48,10,15
3,1,0,0,"1,025.52",8,"1,045.13","287,984.49",0.73,29.10,1,1247,2810,31,8,21
4,1,0,0,220.97,4,"1,817.07","430,235.36",0.66,4.80,1,25080,160,11,10,7

In [56]:
olist_ibge_v21.isna().sum()

qtde_credit_card            0
qtde_debit_card             0
qtde_voucher                0
soma_payment                0
qtde_installments           0
AR_MUN_2018                 0
PIB                         0
gini                        0
dias                        0
humor                       0
le_product_id               0
le_seller_id                0
le_product_category_name    0
le_sigla_state              0
le_seller_sigla_state       0
dtype: int64

### Separar as explicativas da variável 'target' (variável alvo, a ser prevista).

In [57]:
explicativas = olist_ibge_v21.drop(columns=['humor'])
target = olist_ibge_v21['humor']

In [58]:
explicativas.head()

,qtde_credit_card,qtde_debit_card,qtde_voucher,soma_payment,qtde_installments,AR_MUN_2018,PIB,gini,dias,le_product_id,le_seller_id,le_product_category_name,le_sigla_state,le_seller_sigla_state
0,1,0,0,219.63,10,881.06,"180,088.78",0.65,21.11,7841,207,26,10,18
1,1,0,0,135.59,1,881.06,"180,088.78",0.65,5.84,1976,769,32,10,21
2,0,0,0,58.28,1,881.06,"180,088.78",0.65,8.63,22780,1011,48,10,15
3,1,0,0,"1,025.52",8,"1,045.13","287,984.49",0.73,29.10,1247,2810,31,8,21
4,1,0,0,220.97,4,"1,817.07","430,235.36",0.66,4.80,25080,160,11,10,7

In [59]:
explicativas.dtypes

qtde_credit_card              int64
qtde_debit_card               int64
qtde_voucher                  int64
soma_payment                float64
qtde_installments             int64
AR_MUN_2018                 float64
PIB                         float64
gini                        float64
dias                        float64
le_product_id                 int32
le_seller_id                  int32
le_product_category_name      int32
le_sigla_state                int32
le_seller_sigla_state         int32
dtype: object

In [60]:
target.head()

0    1
1    1
2    1
3    1
4    1
Name: humor, dtype: int64

###  Processo de seleção das variaveis

### Filtro
Utiliza o qui-qiadrado (chi2) para seleção de variáveis.

In [61]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [62]:
chi_selector = SelectKBest(chi2,
                           k=5) # número de variáveis que quero que retorne
chi_selector

SelectKBest(k=5, score_func=<function chi2 at 0x000001DCA8EFA488>)

In [63]:
target.head()

0    1
1    1
2    1
3    1
4    1
Name: humor, dtype: int64

In [64]:
chi_selector.fit(explicativas, target)

SelectKBest(k=5, score_func=<function chi2 at 0x000001DCA8EFA488>)

In [65]:
chi_support  = chi_selector.get_support()
chi_feature = explicativas.loc[:,chi_support].columns.tolist()
print(str(len(chi_feature)), ' foram as variaveis selecionadas:')
print(chi_feature)

5  foram as variaveis selecionadas:
['soma_payment', 'AR_MUN_2018', 'PIB', 'dias', 'le_product_id']

##  Wrapper (embrulho)
Este método utiliza regressão logística para seleção de variáveis.

In [66]:
from sklearn.feature_selection import RFE   # RFE é Recursive Feature Elimination
from sklearn.linear_model import LogisticRegression # linear_model tem regressao lasso, regressao logística etc. Estamos trazendo
                                                    # a regressão logística
rfe_selector = RFE(estimator=LogisticRegression(random_state=42),
                  step=10,
                  n_features_to_select=5)
rfe_selector.fit(explicativas, target)
rfe_support = rfe_selector.get_support()
rfe_feature = explicativas.loc[:,rfe_support].columns.tolist()

print(str(len(rfe_feature)), ' foram as variaveis selecionadas:')
print(rfe_feature)

D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

5  foram as variaveis selecionadas:
['soma_payment', 'AR_MUN_2018', 'le_product_id', 'le_seller_id', 'le_product_category_name']

## Embedded (embarcado)
Este método usa random forest para seleção de variáveios

In [67]:
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier
emb_selector = SelectFromModel(RandomForestClassifier(random_state=42))
emb_selector.fit(explicativas, target)
emb_support = emb_selector.get_support()
emb_feature = explicativas.loc[:,emb_support].columns.tolist()

print(str(len(emb_feature)), ' Foram as variaveis selecionadas:')
print(emb_feature)

D:\anaconda\ANACONDA\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

4  Foram as variaveis selecionadas:
['soma_payment', 'dias', 'le_product_id', 'le_seller_id']

##  Voting das variáveis selecionadas

In [68]:
feature_selection_df = pd.DataFrame({'Variáveis': explicativas.columns, #  cria coluna "Variaveis' com conteúdo igual nome das colunas
                                    'Chi-2':chi_support, #cria co(luna 'Chi-2' (qui-quadrado) com array (True significa variavel foi selecionada)
                                    'RFE': rfe_support,
                                    'RandomForest':emb_support})

feature_selection_df['Total'] = np.sum(feature_selection_df, axis=1) # cria coluna 'Total' com somatório dos valores True.
                                                            # axis = 1 significa que está somando valores das colunas.
feature_selection_df = feature_selection_df.sort_values(['Total','Variáveis'],
                                                       ascending=False)
feature_selection_df

                   Variáveis  Chi-2    RFE  RandomForest  Total
3               soma_payment   True   True          True      3
9              le_product_id   True   True          True      3
10              le_seller_id  False   True          True      2
8                       dias   True  False          True      2
5                AR_MUN_2018   True   True         False      2
11  le_product_category_name  False   True         False      1
6                        PIB   True  False         False      1
2               qtde_voucher  False  False         False      0
4          qtde_installments  False  False         False      0
1            qtde_debit_card  False  False         False      0
0           qtde_credit_card  False  False         False      0
12            le_sigla_state  False  False         False      0
13     le_seller_sigla_state  False  False         False      0
7                       gini  False  False         False      0

## Criação de dataframe com variaveis selecionadas

In [69]:
expl = explicativas[['soma_payment','le_product_id','le_seller_id', 'le_product_category_name', 'dias', 'AR_MUN_2018']]
expl.head()

,soma_payment,le_product_id,le_seller_id,le_product_category_name,dias,AR_MUN_2018
0,219.63,7841,207,26,21.11,881.06
1,135.59,1976,769,32,5.84,881.06
2,58.28,22780,1011,48,8.63,881.06
3,"1,025.52",1247,2810,31,29.10,"1,045.13"
4,220.97,25080,160,11,4.80,"1,817.07"

In [70]:
expl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92935 entries, 0 to 92934
Data columns (total 6 columns):
soma_payment                92935 non-null float64
le_product_id               92935 non-null int32
le_seller_id                92935 non-null int32
le_product_category_name    92935 non-null int32
dias                        92935 non-null float64
AR_MUN_2018                 92935 non-null float64
dtypes: float64(3), int32(3)
memory usage: 3.2 MB

# Separação em treino e teste

In [71]:
from sklearn.model_selection import train_test_split 
x_treino, x_teste, y_treino, y_teste = train_test_split(expl,
                                                       target,
                                                       test_size=0.3,
                                                       random_state=196)

In [72]:
x_treino.head()

,soma_payment,le_product_id,le_seller_id,le_product_category_name,dias,AR_MUN_2018
50730,119.39,23396,1409,26,12.66,"2,058.03"
76194,78.69,1596,1561,44,10.81,"1,521.11"
72303,21.39,2287,192,8,2.10,"1,521.11"
79104,157.79,18793,1946,59,6.46,"1,521.11"
16,619.65,14310,597,44,34.55,"1,610.65"

In [73]:
x_treino.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65054 entries, 50730 to 57672
Data columns (total 6 columns):
soma_payment                65054 non-null float64
le_product_id               65054 non-null int32
le_seller_id                65054 non-null int32
le_product_category_name    65054 non-null int32
dias                        65054 non-null float64
AR_MUN_2018                 65054 non-null float64
dtypes: float64(3), int32(3)
memory usage: 2.7 MB

# Tuninng de hiperparâmetros
Inicialmente, chamar o módulo de tuning.<br>
Passo a passo <br>
1 - definir um dict(dicionario com os valores dos hiperparams)<br>
2 - chamar o modulo de tunning<br>
3 - chamar obj do tunning<br>
4 - treinamento<br>
5 - avaliar os resultados

## Gradient Boosting - simplificado

In [74]:
#1
gb_dict = {"criterion": ["friedman_mse",  "mae"],
    'random_state': [1967]
}

In [75]:
gb_dict

{'criterion': ['friedman_mse', 'mae'], 'random_state': [1967]}

In [76]:
#2
from sklearn.model_selection import GridSearchCV

In [77]:
#3
from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier(random_state=42)

In [78]:
gb

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              n_iter_no_change=None, presort='auto', random_state=42,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [79]:
gb_grid = GridSearchCV(estimator=gb,       # parametro a ser utilizado. No caso, Gradient Boosting
                      param_grid=gb_dict,  # nome do dicionario com parametros
                      scoring='accuracy',  # parametro de validação: acurácia
                      cv=10)               # numero de partições do conjunto de treino a ser feita na validação cruzada (k-fold)

In [80]:
gb_grid

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_sampl...      subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'criterion': ['friedman_mse', 'mae'], 'random_state': [1967]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [81]:
#4
gb_grid.fit(x_treino, y_treino)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_sampl...      subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'criterion': ['friedman_mse', 'mae'], 'random_state': [1967]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [82]:
#5
gb_grid.best_params_

{'criterion': 'friedman_mse', 'random_state': 1967}

In [83]:
gb_grid.best_score_

0.8116487840870661

##  Importação da biblioteca - cálculo da acurácia

In [84]:
from sklearn.metrics import accuracy_score

## Acurácia de treino - Gradient Boosting

In [85]:
gb_grid.best_score_

0.8116487840870661

In [86]:
acc_gb_treino = accuracy_score(y_treino, 
                              gb_grid.predict( # este é o objeto do grid, já com os melhores parametros
                                  x_treino))
acc_gb_treino

0.8131552248900913

##  Acurácia de teste - Gradient Boosting
A acurácia de teste está muito próxima à acurácia de treino, o que mostra que o modelo está perfomando bem.

In [87]:
acc_gb_teste = accuracy_score(y_teste, 
                              gb_grid.predict( # este é o objeto do grid, já com os melhores parametros
                                  x_teste))
acc_gb_teste

0.809475987231448

In [88]:
from sklearn.metrics import classification_report

In [89]:
print(classification_report(y_treino,gb_grid.predict(x_treino)))

              precision    recall  f1-score   support

           0       0.74      0.20      0.31     13907
           1       0.82      0.98      0.89     51147

   micro avg       0.81      0.81      0.81     65054
   macro avg       0.78      0.59      0.60     65054
weighted avg       0.80      0.81      0.77     65054

In [90]:
print(classification_report(y_teste,gb_grid.predict(x_teste)))

              precision    recall  f1-score   support

           0       0.72      0.18      0.29      5961
           1       0.81      0.98      0.89     21920

   micro avg       0.81      0.81      0.81     27881
   macro avg       0.77      0.58      0.59     27881
weighted avg       0.79      0.81      0.76     27881

In [91]:
print ("A acurácia da previsão é ", accuracy_score(y_teste,gb_grid.predict(x_teste)))

A acurácia da previsão é  0.809475987231448

## Decision Tree

In [92]:
dt_dict = {
    'criterion' : ['gini','entropy'],
    'min_samples_leaf': [1,2,3,4,5,10],
    'random_state': [42]
       }

In [93]:
dt_dict

{'criterion': ['gini', 'entropy'],
 'min_samples_leaf': [1, 2, 3, 4, 5, 10],
 'random_state': [42]}

In [94]:
from sklearn.tree import DecisionTreeClassifier

In [95]:
dt = DecisionTreeClassifier(random_state=42)

In [96]:
dt_grid = GridSearchCV(estimator=dt,       # parametro a ser utilizado. No caso, decision tree
                      param_grid=dt_dict,  # nome do dicionario com parametros
                      scoring='accuracy',  # parametro de validação: acurácia
                      cv=10)

In [97]:
dt_grid.fit(x_treino, y_treino)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'criterion': ['gini', 'entropy'], 'min_samples_leaf': [1, 2, 3, 4, 5, 10], 'random_state': [42]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [98]:
dt_grid.best_params_

{'criterion': 'gini', 'min_samples_leaf': 10, 'random_state': 42}

In [99]:
dt_grid.best_score_

0.7457958004119655

##  Importação da biblioteca - cálculo de acurácia

In [100]:
from sklearn.metrics import accuracy_score

## Acurácia de treino - Decision Tree

In [101]:
dt_grid.best_score_

0.7457958004119655

In [102]:
acc_dt_treino = accuracy_score(y_treino, 
                              dt_grid.predict( # este é o objeto do grid, já com os melhores parametros
                                  x_treino))
acc_dt_treino

0.8439604021274634

##  Acurácia de teste - Decision Tree
A acurácia de teste está muito próxima à acurácia de treino, o que mostra que o modelo está perfomando bem.

In [103]:
acc_dt_teste = accuracy_score(y_teste, 
                              dt_grid.predict( # este é o objeto do grid, já com os melhores parametros
                                  x_teste))
acc_dt_teste

0.7410422868620208

In [104]:
from sklearn.metrics import classification_report

In [105]:
print(classification_report(y_treino,dt_grid.predict(x_treino)))

              precision    recall  f1-score   support

           0       0.68      0.51      0.59     13907
           1       0.88      0.93      0.90     51147

   micro avg       0.84      0.84      0.84     65054
   macro avg       0.78      0.72      0.74     65054
weighted avg       0.83      0.84      0.84     65054

In [106]:
print(classification_report(y_teste,dt_grid.predict(x_teste)))
print ("A acurácia da previsão é ", accuracy_score(y_teste,dt_grid.predict(x_teste)))

              precision    recall  f1-score   support

           0       0.36      0.27      0.31      5961
           1       0.81      0.87      0.84     21920

   micro avg       0.74      0.74      0.74     27881
   macro avg       0.59      0.57      0.57     27881
weighted avg       0.72      0.74      0.73     27881

A acurácia da previsão é  0.7410422868620208

## Logistic Regression

In [107]:
lr_dict= {
    "C":np.logspace(-3,3,7),
    "penalty":["l2"],
    'random_state': [1967]
}

In [108]:
from sklearn.linear_model import LogisticRegression

In [109]:
lr = LogisticRegression(random_state=1967)

In [110]:
lr

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=1967, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [111]:
lr_grid = GridSearchCV(estimator=lr,       # parametro a ser utilizado. No caso, logistic regression
                      param_grid=lr_dict,  # nome do dicionario com parametros
                      scoring='accuracy',  # parametro de validação: acurácia
                      cv=10)

In [112]:
lr_grid.fit(x_treino, y_treino)

D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=1967, solver='warn',
          tol=0.0001, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'C': array([1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01, 1.e+02, 1.e+03]), 'penalty': ['l2'], 'random_state': [1967]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [113]:
lr_grid.best_params_

{'C': 0.001, 'penalty': 'l2', 'random_state': 1967}

In [114]:
lr_grid.best_score_

0.7958926430350171

In [115]:
lr_grid.estimator

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=1967, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

##  Importação da biblioteca - cálculo de acurácia

In [116]:
from sklearn.metrics import accuracy_score

## Acurácia de treino - Logistic Regression

In [117]:
lr_grid.best_score_

0.7958926430350171

In [118]:
acc_lr_treino = accuracy_score(y_treino, 
                              lr_grid.predict( # este é o objeto do grid, já com os melhores parametros
                                  x_treino))
acc_lr_treino

0.795093307098718

##  Acurácia de teste - Logistic Regression
A acurácia de teste está muito próxima à acurácia de treino, o que mostra que o modelo está perfomando bem.

In [119]:
acc_lr_teste = accuracy_score(y_teste, 
                              lr_grid.predict( # este é o objeto do grid, já com os melhores parametros
                                  x_teste))
acc_lr_teste

0.7935511638750403

In [120]:
from sklearn.metrics import classification_report

In [121]:
print(classification_report(y_treino,lr_grid.predict(x_treino)))

              precision    recall  f1-score   support

           0       0.60      0.13      0.21     13907
           1       0.80      0.98      0.88     51147

   micro avg       0.80      0.80      0.80     65054
   macro avg       0.70      0.55      0.55     65054
weighted avg       0.76      0.80      0.74     65054

In [122]:
print(classification_report(y_teste,lr_grid.predict(x_teste)))
print ("A acurácia da previsão é ", accuracy_score(y_teste,lr_grid.predict(x_teste)))

              precision    recall  f1-score   support

           0       0.58      0.12      0.20      5961
           1       0.80      0.98      0.88     21920

   micro avg       0.79      0.79      0.79     27881
   macro avg       0.69      0.55      0.54     27881
weighted avg       0.76      0.79      0.74     27881

A acurácia da previsão é  0.7935511638750403

## Random Forest

In [123]:
#1 - definir um dict(dicionario com os valores dos hiperparams)

rf_dict = {                            # nome do dicionário que está sendo criado.
    'n_estimators':[50,100,200,300,800,1000],   # numero de estimadores que será testado. Quanto maior, mais exige poder computacional.
    'criterion':['gini', 'entropy'],   #  critérios
    'bootstrap':[False, True],  # Faz amostragem com e sem reposição.
    'random_state': [196]
}

In [124]:
rf_dict

{'n_estimators': [50, 100, 200, 300, 800, 1000],
 'criterion': ['gini', 'entropy'],
 'bootstrap': [False, True],
 'random_state': [196]}

In [125]:
#2 - chamar o modulo de tunning
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=42)

In [126]:
#3 - chamar obj do tunning
rf_grid = GridSearchCV(estimator=rf,       # parametro a ser utilizado. No caso, random forest
                      param_grid=rf_dict,  # nome do dicionario com parametros
                      scoring='accuracy',  # parametro de validação: acurácia
                      cv=10)               # numero de partições do conjunto de treino a ser feita na validação cruzada (k-fold)

In [127]:
rf_grid

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
            oob_score=False, random_state=42, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_estimators': [50, 100, 200, 300, 800, 1000], 'criterion': ['gini', 'entropy'], 'bootstrap': [False, True], 'random_state': [196]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [128]:
#4  - treinamento
rf_grid.fit(x_treino, y_treino)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
            oob_score=False, random_state=42, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_estimators': [50, 100, 200, 300, 800, 1000], 'criterion': ['gini', 'entropy'], 'bootstrap': [False, True], 'random_state': [196]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [129]:
#5  - avaliar os resultados
rf_grid.best_params_

{'bootstrap': True,
 'criterion': 'entropy',
 'n_estimators': 300,
 'random_state': 196}

In [130]:
rf_grid.best_score_

0.8084821840317274

##  Importação da biblioteca - cálculo da acurácia

In [131]:
from sklearn.metrics import accuracy_score

## Acurácia de treino - para modelo Random Forest

In [132]:
rf_grid.best_score_

0.8084821840317274

In [133]:
acc_rf_treino = accuracy_score(y_treino, 
                              rf_grid.predict( # este é o objeto do grid, já com os melhores parametros
                                  x_treino))
acc_rf_treino

1.0

##  Acurácia de teste - para modelo Random Forest

In [134]:
acc_rf_teste = accuracy_score(y_teste, 
                              rf_grid.predict( # este é o objeto do grid, já com os melhores parametros
                                  x_teste))
acc_rf_teste

0.8057099817079731

##  Classification report - para modelo Random Forest

In [135]:
from sklearn.metrics import classification_report

In [136]:
print(classification_report(y_treino,rf_grid.predict(x_treino)))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     13907
           1       1.00      1.00      1.00     51147

   micro avg       1.00      1.00      1.00     65054
   macro avg       1.00      1.00      1.00     65054
weighted avg       1.00      1.00      1.00     65054

In [137]:
print(classification_report(y_teste,rf_grid.predict(x_teste)))
print ("A acurácia da previsão é ", accuracy_score(y_teste,lr_grid.predict(x_teste)))

              precision    recall  f1-score   support

           0       0.65      0.19      0.30      5961
           1       0.82      0.97      0.89     21920

   micro avg       0.81      0.81      0.81     27881
   macro avg       0.73      0.58      0.59     27881
weighted avg       0.78      0.81      0.76     27881

A acurácia da previsão é  0.7935511638750403